# --- Web Scraping ---
playwright>=1.40.0
tqdm
pandas

# --- NLP y Similitud Semántica ---
sentence-transformers
scikit-learn
spacy
textdistance

# --- Visualización y Análisis ---
matplotlib
seaborn
reportlab

# --- Utilidades adicionales ---
numpy
torch
networkx
scipy
geopy
folium
wordcloud
plotly